.container {
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

.layout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.text {
  flex: 1;
}

.image {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.scaledImage {
  max-width: 90%;
  border-radius: 1rem;
}