.container {
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

.layout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.text {
  flex: 1;
}

.image {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scaledImage {
  max-width: 90%;
  border-radius: 1rem;
}

.storeBadge {
  margin-top: 20px;
  max-width: 100%;
}