.container ul {
  list-style: none;
  padding: 0;
}

.container li {
  margin-bottom: 20px;
  background-color: #f3e8ff;
}

.hero {
  text-align: center;
  padding: 2rem 1rem;
}

.title {
  font-size: 2.5rem;
  color: #3c1361;
  margin-bottom: 1rem;
}

.subtitle {
  font-size: 1.25rem;
  margin-bottom: 2rem;
  color: #4b246f;
}

.ctaButton {
  background-color: #6b21a8;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  text-decoration: none;
  font-size: 1rem;
}

.featuresSection {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.feature {
  flex: 1;
  text-align: center;
  padding: 1rem;
}

.icon {
  font-size: 2rem;
  display: block;
  margin-bottom: 0.5rem;
}

.featureLink {
  color: #3c1361;
  text-decoration: none;
}

.featureLink:hover {
  text-decoration: underline;
}

.howItWorks {
  background: #f3e8ff;
  padding: 0.5rem;
  border-radius: 1rem;
  margin: 1rem auto 3rem;
}

.howItWorks h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.howItWorks ol {
  max-width: 600px;
  margin: auto;
  padding-left: 1rem;
  list-style-position: inside;
  text-align: center;
}

.screenshots, .ctaSection {
  margin-bottom: 3rem;
  text-align: center;
}

.screenshots h2 {
  text-align: center;
  font-size: 2rem;
}

.ctaButtonSecondary {
  background-color: transparent;
  border: 2px solid #6b21a8;
  color: #6b21a8;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  text-decoration: none;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .featuresSection {
    flex-direction: column;
    gap: 0.7rem;
    margin: 2rem 0;
  }

  .feature {
    padding: 0.5rem;
  }

  .hero {
    padding: 2rem 1rem;
  }

  .title {
    font-size: 2rem;
  }

  .subtitle {
    font-size: 1rem;
  }

  .ctaButton {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
  }

  .howItWorks {
    padding: 1.5rem;
  }

  .howItWorks h2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
  }

  .howItWorks ol {
    padding-left: 0;
    list-style-position: inside;
    text-align: left;
  }

  .screenshots {
    padding: 0 1rem;
  }

  .screenshots h2 {
    text-align: center;
    font-size: 2rem;
  }

  .carousel {
    gap: 1rem;
    padding: 1rem 0;
    justify-content: center;
  }

  .card {
    flex: 0 0 80%;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 1.5rem;
  }
  .howItWorks {
    margin-bottom: 2rem;
    padding: 0.3rem 1rem;
  }

  
  .subtitle {
    font-size: 0.9rem;
  }

  .feature h2,
  .howItWorks h2,
  .screenshots h2 {
    font-size: 1.5rem;
  }

  .ctaButton,
  .ctaButtonSecondary {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
  }
}