.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #6b21a8;
  padding: 10px;
  position: relative;
  overflow: visible;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 20px;
}

.logo {
  height: 80px;
  width: auto;
}

.links {
  position: relative;
  top: 10px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 15px;
  margin: 5px auto;
  padding: 0;
  overflow: visible;
}

.links a {
  color: #000;
  text-decoration: none;
  padding: 16px 20px;
  border-radius: 4px;
  transition: background-color 0.3s, transform 0.3s;
  display: block;
  white-space: nowrap;
  background-color: #faf5ff;

}

.links a:hover {
  background-color: #e1c2ff;
  transform: scale(1.05);
}

.links a.active,
.links a.active:hover {
  text-decoration: underline;
}

.menuButton {
  display: none;
  background: none;
  border: none;
  color: #fff;
  font-size: 1.8rem;
  cursor: pointer;
  padding: 4px;
  width: 32px;
  height: 32px;
  position: absolute;
  left: 8px;
  top: 10px;
}

.menuButton svg {
  width: 24px;
  height: 24px;
}

@media (max-width: 480px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .logo {
    height: 60px;
  }

  .logoContainer {
    margin-left: 0;
    width: 100%;
    justify-content: center;
  }

  .menuButton {
    display: block;
  }

  .links {
    flex-direction: column;
    align-items: stretch;
    gap: 4px; 
    width: 100%;
    margin: 5px 0 0;
    display: none;
    padding: 2px 16px;
    box-sizing: border-box;
    margin-bottom: 1.3rem;
  }

  .links.show {
    display: flex;
  }

  .links a {
    padding: 7px 12px; 
    font-size: 14px;  
    width: 100%;
    box-sizing: border-box;
    transform: none;
  }
}
