.app {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  padding: 20px;
  flex: 1;
}

@media (max-width: 480px) {
  .content {
    padding: 15px 10px;
  }
}
